* {
  box-sizing: border-box;
}

html {
  position: fixed;
}

body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow: hidden;
  overscroll-behavior-y: none;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  user-select: none;
  background: #27271a;
}

#gl {
  position: relative;
  z-index: 0;
}

/**
 * Interface
 */
.interface {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  font-family: sans-serif;
}

/**
  * Controls
  */
.controls {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
}

.controls .raw {
  display: flex;
  justify-content: center;
}

.controls .key {
  width: 40px;
  height: 40px;
  margin: 4px;
  border: 2px solid #ffffff;
  background: #ffffff44;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
}

.controls .key.large {
  width: 144px;
}

.controls .key.active {
  background: #ffffff99;
}

.loading-bar {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  background: #ffffff;
  transform: scaleX(0.01);
  transform-origin: top left;
  transition: transform 0.5s;
}

.loading-bar.ended {
  transform: scaleX(0);
  transform-origin: 100% 0;
  transition: transform 1.5s ease-in-out;
}

/**
 * Time
 */
.time {
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 6vh;
  background: #00000033;
  padding-top: 5px;
  text-align: center;
}

/**
  * Restart
  */
.restart {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-size: 80px;
  background: #00000033;
  padding-top: 10px;
  pointer-events: auto;
  cursor: pointer;
}
